extends layout

block content
  h1= title
  p 
  div
    label 需要转换的16进制数
    input#J_HexIpt(placeholder='例如#fff')
    span 转换后的值为
    input#J_RgbIpt  
  div
    input#J_SubmitBtn(type='button',value='转换')  
  script(src="/p/hex2rgb.js")  
